.fullCont{
    overflow: hidden;
    border-radius: 10px;
}
.full{
    height:auto;
    object-fit: fill;

    
}

#about{
    width:100%;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    z-index: 10;
    gap: 6rem;
   background-color: var(--bg);
   box-shadow: var(--expensiveBoxShadow);

    
}
#aboutIntro{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding:1rem 2rem;
    color: white;
    height:70vh;

    background-image: url("assets/achievers.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}
#aboutIntroText{
    z-index: 2;
    color: white;
}
#aboutIntro::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0, 0);
    backdrop-filter: brightness(50%) blur(2px);
    z-index: 1;
}
#topachieversdiv{
    text-align: center;
    width:80%;
    height:fit-content;
    
}
#topAchieversImgContainer{
    width:100%;
}
#topAchieversImgContainer>img{

    object-fit: contain;
    width:100%;
    height: auto;
}
#principal{
    margin-top: -5rem;
    width:50rem;
    background-color: white;    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    box-shadow: var(--expensiveBoxShadow);
}
#principalImg{
    width:70%;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
    margin-block: 1rem;
    margin-inline: 2rem;
}
#principalWelcome{
    margin-left: 4rem;
}
#stats{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#statsCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0rem 2rem;
    width:100%;
    min-height:75vh;
    padding:1rem 2rem;
}
#statsSection1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width:100%;
    min-height:100%;
    border-right: 1px solid blue;
}
#statsSection1>div{
    width:80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: left;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;


}
#statsSection1>div.exception{
    max-width: 80%;
    display: flex;
    flex-direction: column;   
    background-color: var(--bg);
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;

}
#statsSection2{
    padding:1rem 2rem;
}

.big{
    font-size: 300%;
}
.bold{
    font-weight: bold;
    text-decoration: underline;
}
#appearContainer{
    height: 100vh; 
    width: 100%;
    position: fixed;
    background-image: url("assets/scienceLab.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: contrast(120%) blur(2px) brightness(50%);
    z-index: 1;
}

.content{
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    color: var(--bg);
}
#history{
    width:50%;
    padding:8rem 4rem 1rem 4rem;
}

@media (max-width: 767.98px) {
    #about{
        gap:3rem;
    }
    #principal{
    margin: 1rem 1rem 0rem 1rem !important;
    width:90vw;
    background-color: white;  
    
    padding:0.5rem 1rem 0.5rem 1rem;
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    box-shadow: var(--expensiveBoxShadow);
}
    #principalImg{
        width:30%;
        aspect-ratio: 1;
        background-color: red;
        border-radius: 50%;
        margin-block: 0rem;
        margin-inline: 0rem;
}
    #principalWelcome{
        margin-left: 0rem;
}
    #aboutIntro{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding:1rem 2rem;
    color: white;
    height:fit-content;

    background-image: url("assets/achievers.png");
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: 100% 100%;

}
    #statsCont{
    display: grid;
    grid-template-columns: 1fr;
    margin:0rem 2rem;
    width:100%;
    min-height:75vh;
    padding:1rem 2rem;
}
    .content{
    z-index: 10;
    min-height: 100vh;
    width: 90%;
    color: var(--bg);
}
    #history{
    width:100%;
    margin:1rem;
    padding:8rem 1rem 1rem 0rem;
}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    #about{
        gap:3rem;
    }
    #principal{
    margin: 1rem 1rem 0rem 1rem !important;
    width:90vw;
    background-color: white;  
    
    padding:0.5rem 1rem 0.5rem 1rem;
 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    box-shadow: var(--expensiveBoxShadow);
}
    #principalImg{
        width:30%;
        aspect-ratio: 1;
        background-color: red;
        border-radius: 50%;
        margin-block: 0rem;
        margin-inline: 0rem;
}
    #principalWelcome{
        margin-left: 0rem;
}
    #aboutIntro{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding:1rem 2rem;
    color: white;
    height:fit-content;

    background-image: url("assets/achievers.png");
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: 100% 100%;

}
    #statsCont{
    display: grid;
    grid-template-columns: 1fr;
    margin:0rem 2rem;
    width:100%;
    min-height:75vh;
    padding:1rem 2rem;
}
    .content{
    z-index: 10;
    min-height: 100vh;
    width: 90%;
    color: var(--bg);
}
    #history{
    width:100%;
    margin:1rem;
    padding:8rem 1rem 1rem 0rem;
}
}