.contact{
    width:90vw;
    display: flex;
    flex-direction: column;
    
    
}
#contactLogoCont{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(var(--navHeight) + 0.5rem);
}
#map{
    width:100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque ;
}
.bold{
    font-weight: bold;
}