@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf");
}


body{
    font-family: "Montserrat", "Raleway";
    --primary:rgb(247, 247, 247);
    --secondary:rgb(24, 24, 24);
    --tetiary1:rgb(63, 63, 233);
    --tetiary2:rgb(241, 241, 48);
    --p: 1.25rem;
    --h1:2.5rem;
    --h2:2rem;
    --h3:1.5rem;

    --expensiveBoxShadow:0 1px 2px rgba(0, 0, 0, 0.1),
                            0 4px 12px rgba(0, 0, 0, 0.15);


    --navHeight:50px;
    background-color: var(--tetiary1);
    color: white;
    max-width: 100vw;
    

    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
p{
    font-size: var(--p);
}
h1{
    font-size: var(--h1);
}
h2{
    font-size: var(--h2);
}
h3{
    font-size: var(--h3);
}
header{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    background-color: rgba(207, 207, 207, 0.493);
    backdrop-filter: blur(25px);
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}
.navHalf{
    width:50%;
    height: var(--navHeight);

}
#navigation>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#navigation>ul{
    list-style: none;
    /*GET TO THIS! REMOVE THE DOTS*/
}

.topImg{
    margin-top: var(--navHeight);
    width:100%;
    min-height: 50px;
    max-height:60vh;
    background-image: url("/assets/field2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;

}
.topImg::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    
}
#enrollDiv{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#enrollCard{
    width:fit-content;
    text-align: center;
    margin-block: 6rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    background-color: rgba(0, 0, 255, 0.411);
    color: white;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.imgCont{
    max-height: 50vh;
    width:100vw;
    overflow: hidden;
    z-index: 200;
}
#status{
    color: yellow;
}
button{
    border-radius: 10px;
    border: 1px solid white;
}
#homeImg{
    
    width:100vw;
    height:auto;
    object-fit: fill;
    
}

#enrollBtnCont{
    z-index: 9990;
    height:70vw;    
    width: 100%;
    top:0%;
    left:0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#enrollBtnCont>button{
    padding-inline: 2rem;
    padding-block: 1rem;
}

#heroContainer{
    padding:1rem 2rem;
    width:90vw;
    margin-block: 1rem;
    
}
#hero{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#heroGridSection1{
    padding-right:5rem;
}
#heroEnrollBtn{
    padding:1rem 2rem;
    margin-block:1rem;
    background-color: var(--tetiary1);
    color: white;
    border:1px solid white;
    box-shadow: var(--expensiveBoxShadow);
    
    
   
    

}
#heroExploreProgrammes{
    padding:1rem 2rem;
    margin-block:1rem;
    background-color: var(--tetiary2);
    box-shadow: var(--expensiveBoxShadow);
    
    
    border: none;

}
#heroGridSection2ImgCont{
    max-width:100%;
 
}
#heroGridSection2ImgCont>img{
    object-fit: contain;
    width:100%;
}

#gridHome{
    width:80vw;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#motoContainer{
    background-color: rgb(97, 97, 97);
    
    width:90%;
    border-radius: 10px;
    padding:1rem 2rem;
    aspect-ratio: 2/1;
    text-align: left;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    color: white;
}

#levelsContainer{
    width:100%;
    padding: 1rem, 2rem;
    position: relative;
}
.level{
    border:1px solid var(--tetiary2);
    margin-inline:4rem;
    margin-block: 0.5rem;
    text-align: center;
}
.level:hover{
    cursor: pointer;
}
#homeCurriculumMenu{
    position:absolute;
    display: flex;
    flex-direction: column;
    box-shadow: var(--expensiveBoxShadow);
    
    top:0;
    width:100%;
    height:100%;
    margin-inline:4rem;

    
    background-color: rgb(97, 97, 97);
}
#back{
    color:white;
    width:10%;
    background-color: transparent;
    border: none;
}
#back:hover{
        cursor: pointer;

}
#homeCurriculumMenu{
    display:none;
}
#homeCurriculumMenu.open{
    display: inherit;
}
#homeCurriculumMenu>div{
    width:100%;
    height:100%;
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;

}
#curriculumMenuLinks{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#curriculumMenuLinks>a{
    margin:0.5em;
    color:black;
}
#menuButton{
    display: none;
}

@media (max-width: 767.98px) {
    body{
    --p: 1rem;
    --h1:2rem;
    --h2:1.75rem;
    --h3:1.5rem;
    }
    .navItems{
        position:fixed;
        background-color: rgb(179, 179, 179);
        
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        
        margin-top: var(--navHeight);
        margin-left: -50%;
        width:100vw;
        max-width: 100vw;
        height: 100vh;
       
    }
    .navItems.open{
        display: flex;
    }
    
    .navItems>ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-inline: 3rem;
        margin-top: -10rem;
               
          
    }
    .navItems>ul>li{
        margin-block: 2rem;
        font-size: 1.25rem;
    }
    #menuButton{
        display: inherit;
        width:50px;
        height:50px;
        background-color: grey;
       position: fixed;
       z-index: 9999999999999;
       right:10px;
    }
    .menuLine{
        transform: rotate(90deg);
    }
    #logoCont{
        height:var(--navHeight);
        display: none;
    }
    #logoCont>img{
        object-fit: contain;
        width:100%;
        aspect-ratio: 1;
        display: none;
    }
    #gridHome{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
    }
    #topicContainer{
        display: flex !important;
        flex-direction: column-reverse;
    }
    #academicSelect{
        width:50vw !important;
    }
    #academicDisplay{
        margin:0rem 1rem !important;
    }
    #about{
        margin:0 1rem !important;
    }
    #hero{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #heroContainer{
        padding:0.5rem, 1rem;
       
    }
    #heroGridSection1{
        padding-right:1rem;
    }
    #homeCurriculumMenu{
        margin-inline: 0;
        margin-block: 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px){
    .navItems{
        width:100%;
    }
    .navItems>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    
}
@media (min-width: 1200px){
    .navItems{
        width:100%;
    }
    .navItems>ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}